
<h1>About Page</h1>
<p>This is a paragraph.</p>

{{calculation 10}}

{{#list data.people}}
    {{!-- this is comment--}}
{{username}}
{{/list}}
{{#with data.user as |x|}}
    <h1>My Name Is {{x.firstName}} {{x.lastName}}</h1>
    <h3>My project is {{project.name}}</h3>
{{/with}}
<br>
{{data.test}}
{{{data.test}}}