{{> header}}
<h1>Welcome to Contact Handlebars</h1>

{{#each data.people as |people key|}}

<p>{{key}}.{{people}}</p>

{{/each}}
{{#each data.user as |user key|}}

<p>{{key}}:{{user}}</p>

{{/each}}
{{#each data.list as |list key|}}
    {{#each list.item as |listitem key|}}
        <p>{{key}}:{{listitem}}</p>
    {{/each}}

{{/each}}
{{> footer}}